@font-face {
  font-family: 'AliHYAiHei';
  src: url('../AliHYAiHei.ttf');
}
@font-face {
  font-family: 'SourceHanSansCN-Regular';
  src: url('../SourceHanSansCN-Regular.ttf');
}
@font-face {
  font-family: 'SourceHanSansTWHK-Medium';
  src: url('../SourceHanSansTWHK-Medium.otf');
}
